html {
    width: 100%;
    height: 100%;
}

#page-top {
    background-image: url("img\\bg.jpg");
    background-repeat: no-repeat;
    min-width: 850px;
    margin: 0 auto;
}


#main {
    font-family: "Montserrat";
    font-size: 16px;
    color: #868e96;
    margin: 0 auto;
    font-weight: 300;
}

ul.navbar-nav li {
    display: inline;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav {
    padding-inline-start: 0;
    text-align: center;
}

section.dark h1, section.dark h2 {
    font-size: 62px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
}
section.dark {
    text-align: center;
    background-image: url("img\\bg.jpg");
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
}

h1, h2 {
    color: #212529;
    font-size: 32px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

section.dark p {
    display: block;
    width: 470px;
    margin: auto;
    margin-bottom: 50px;
}

.content {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

#section-home {
    height: 95vh;
    background-image: none;
}

#section-about, #section-menu, #section-gallery {
    background-color: white;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

#section-testimonials {
    background-color: #e4f8f4;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #212529;
}

#section-events {
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2em;
    font-weight: 200;
}

.btn {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);

}

#section-menu h2 {
    padding: 40px;
}

.tabs {
    text-align: center;
    padding-inline-start: 0;
    padding: 10px;
}

.tabs li {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;

    
}

.tabs li a {
    color: #212529;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2em;
    font-weight: 400;
    padding: 15px;
    border: 1px solid lightgrey;
}

.tabs li a.active {
    border: 1px solid #212529;
}

#section-home div.content p a:hover {
    background-color: rgba(255, 255, 255);
    color: #212529;
    font-weight: 400;
}

.img-fluid {
    float: left;
    width: 30%;

    margin: 15px;
}

.descript {
    float: left;
    min-width: 350px;
    width: 30%;
    line-height: 1.8em;
    margin: 15px;

}

.descript h2 {
    text-align: left;
    margin-block-start: 0;
}

#section-about div.content:before,
#section-about div.content:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

#section-about div.content:after {
  clear: both;
}


.linkdown {
    color: #ee0427;
    font-size: 16px;
    text-transform: none;
    letter-spacing: initial;
    font-weight: normal;
}

.linkdown:hover {
    color: #005dd0;
}

.dark div.content {
    padding: 100px;
}

.menucols ul {
    list-style: none;
    min-width: 500px;
    float: left;
    padding-inline-start: 0;
    padding: 20px;
}

.menuitem h3 {
    color: #212529;
    margin-block-start: 0;
    font-weight: 400;
}

.menuitem {
    float: left;
}

.price {
    float: right;
    color: #212529;
    font-weight: 400;
}


.menucols:before,
.menucols:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.menucols:after {
  clear: both;
}

#section-gallery div.content div.photos {
    display: flex;
}

#section-gallery div.content div.photos img {
    width: 90%;
}

#section-testimonials h2 {
    padding: 50px;
}

.testimonial {
    float: left;
    width: 33%;
    text-align: center;
    font-family: "Crimson Text";
    font-weight: normal;
}

#section-testimonials div.content:before,
#section-testimonials div.content:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

#section-testimonials div.content:after {
  clear: both;
}

blockquote:before {
    content: "“";
    display: block;
    font-size: 100px;
    color: #212529;
    margin-bottom: -50px;
}

.rounded-circle {
    border-radius: 50%;
    width: 80px;
}

.name, .nick {
    font-family: "Montserrat";
    font-size: 16px;
    color: #868e96;
}

.nick {
    color: rgba(0, 0, 0, 0.4);
}

.card {
    float: left;
    width: 30%;
    min-width: 350px;
    background-color: white;
    margin: 15px;
}

.card-deck:before,
.card-deck:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.card-deck:after {
  clear: both;
}

.card-img-top {
    width: 100%;
}

.card-body {
    padding: 40px;
    height: 250px;
}

.card-body a {
    color: #ee0427;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}

.card-body a:hover {
    color: #005dd0;
}

small {
    text-transform: uppercase;
}

h4 {
    margin-block-start: 0;
}

.card-body p {
    line-height: 1.8em;
}

footer {
    text-align: center;
    padding: 100px;
    background-color: #f8f9fa;
}

footer a {
    color: #212529;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}

footer a:hover {
    color: #005dd0;
}
